@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
:focus, :active {
    outline: none;
}
a:focus, a:active {
    outline: none;
}
nav, footer, header, aside {
    display: block;
}
html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea {
    font-family: inherit;
}
input::-ms-clear {
    display: none;
}
button,a {
    cursor: pointer;
    background: none;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    border: none;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
}
/* reset Settings */

/*block */
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 97%;
}
.grey-text{
    color: #808080;
}
.wrapper{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 232px;
    padding: 21px 0;
    font-weight: 500px;
    font-size: 18px;
    background: #83C2FF;
    box-shadow: 0px 9px 53px rgba(87, 173, 255, 0.5);
    border-radius: 80px;
}
/* popup */
.popup{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    top:0;
    left: 0;
    transition: all 2s ease;
}
.popup__body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
.popup__content{
    background: white;
    width: 565px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F8F8F8 100%);
    box-shadow: -2px 43px 122px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 36px 56px 36px 58px;
    position: relative;
}
.popup__close{
    cursor: pointer;
    font-size: 20px;
    display: block;
    position: absolute; 
    top: 30px;
    right: 30px;
}
/* form */
.form__inner{
    margin-bottom: 30px;
}
.form__title{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}
.form__sabtitle{
    font-size: 20px;
    line-height: 31px;
}
.form__input{
    font-size: 18px;
    color:black;
    padding: 22px 30px;
    width: 100%;
    background: transparent;
    border-bottom: 2px solid #DDDDDD;
}
.form__input:not(:last-child){
    margin-bottom: 14px;
}
.form__btn{
    padding: 15px 0;
    margin: 0 auto;
}
/* стилизация radio input */
.form__radio{
    margin-bottom: 24px;
}
.form__radio-title{
    font-size: 18px;
}
.options{
    display: flex;
}
.form__radio-title{
    margin-bottom: 14px;
}
.options__item:not(:last-child){
    margin-right: 41px;
}
.options input[type=radio] {
    display: none;
}
.options__input:checked + label{
    color: black;
}
.options__label{
    color: #BEBEBE;
    font-size: 18px;
    margin-left: 33px;
    cursor: pointer;
    position: relative;
    transition: all 1s ease-in 0s;
    transform: scale(1);
}
.options__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -33px;
    width: 21px;
    height: 21px;
    border: 1px solid #BEBEBE;
    margin-right: 10px;
    border-radius: 50%;
}
.options input[type=radio]:checked + .options__label::after{
    transform: scale(1);
    
}
.options__label::after{
    content: "";
    position: absolute;
    top: 0;
    left: -33px;
    width: 21px;
    height: 21px;
    border: 5px solid #57ADFF;
    margin-right: 10px;
    border-radius: 50%;
    transform: scale(0);
    transition: all 300ms ease-in-out 0s;
}
/* стилизация checkbox input */
.form__checkbox{
    margin-bottom: 20px;
}
.checkbox__input {
    display: none;
}
.checkbox__input:checked + .checkbox__label::after {
    transform: scale(1);
}
.form__label {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}
.checkbox__label {
    font-size: 12px;
    display: flex;
    position: relative;
    cursor: pointer;
}
.checkbox__label::before {
    content: "";
    position: relative;
    top: 3px;
    flex: 0 0 21px;
    border: 1px solid #BEBEBE;
    height: 21px;
    margin-right: 12px;
}
.checkbox__label::after {
    content: "";
    transition: all 200ms ease-in-out 0s;
    position: absolute;
    top: 6px;
    left: 2px;
    background: url("../img/done.png") no-repeat;
    /* align-self: center; */
    padding: 10px;
    transform: scale(0);
}